<template>
  <div class="home">
    <div class="header">
      <input
        @keypress.prevent.enter.exact="enableSubmit"
        @keyup.prevent.enter.exact="submit"
        v-model="query"
        class="uk-input search-box"
        type="text"
        placeholder="検索"
      />
    </div>
    <div
      class="movie-panels"
      v-for="(item, idx) in searchResult?.items"
      :key="idx"
    >
      <MoviePanel :videoId="item.id.videoId" :rank="idx + 1" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { SearchResult } from "@/models/search_result";
import MoviePanel from "@/components/MoviePanel.vue";
import * as constants from "@/constants/apis";
import axios from "axios";

export default defineComponent({
  name: "Home",
  components: {
    MoviePanel,
  },
  data: function () {
    return {
      searchResult: null as SearchResult | null,
      can_submit_search: false,
      query: "",
    };
  },
  methods: {
    getSearchResult: function () {
      const params = {
        q: this.query,
        order: "rating",
        part: "id",
        maxResults: 10,
        key: constants.apiKey,
      };
      axios
        .get(constants.youtubeSearchAPIBaseURL, {
          params: params,
        })
        .then((response) => {
          this.searchResult = response.data as SearchResult | null;
        });
    },
    enableSubmit() {
      this.can_submit_search = true;
    },
    submit() {
      if (!this.can_submit_search) return;
      this.getSearchResult();
      this.can_submit_search = false;
    },
  },
});
</script>

<style scoped>
.movie-panels {
  display: inline-block;
  padding: 5px;
}

.search-box {
  width: 100%;
}

.header {
  padding: 5px;
}
</style>
