<template>
  <div :style="getRankStyle" class="rank uk-text-center">{{ rank + "位" }}</div>
  <a :href="youtubeVideoBaseURL + videoId">
    <div :style="getPanelStyle" class="panel">
      <img class="thumbnail" :data-src="getThumbnail().url" uk-img />
      <div class="title">{{ getTitle() }}</div>
    </div>
  </a>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { Thumbnail, Video } from "@/models/video";
import * as constants from "@/constants/apis";
import axios from "axios";

export default defineComponent({
  name: "MoviePanel",
  props: {
    videoId: {
      require: true,
      type: String,
    },
    rank: {
      type: Number,
    },
  },
  data: function () {
    return {
      youtubeData: null as Video | null,
      youtubeVideoBaseURL: constants.youtubeVideoBaseURL,
    };
  },
  methods: {
    getVideoInfo: function (videoId: string) {
      const params = {
        id: videoId,
        part: "snippet",
        key: constants.apiKey,
      };
      axios
        .get(constants.youtubeVideoAPIBaseURL, {
          params: params,
        })
        .then((response) => {
          this.youtubeData = response.data as Video | null;
        });
    },
    getThumbnail: function (): Thumbnail {
      if (this.youtubeData == null) {
        return {} as Thumbnail;
      }
      return this.youtubeData.items[0].snippet.thumbnails.medium;
    },
    getTitle: function (): string {
      if (this.youtubeData == null) {
        return "";
      }
      return this.youtubeData.items[0].snippet.title;
    },
  },
  computed: {
    getPanelStyle: function (): CSSStyleDeclaration {
      if (window.innerWidth < 700 && window.innerWidth > 350) {
        console.log(window.innerWidth);
        return {
          width: window.innerWidth * 0.92 + "px",
        } as CSSStyleDeclaration;
      }
      return {
        maxWidth: 320 + "px",
      } as CSSStyleDeclaration;
    },
    getRankStyle: function (): CSSStyleDeclaration {
      switch (this.rank) {
        case 1:
          return {
            backgroundColor: "gold",
          } as CSSStyleDeclaration;
        case 2:
          return {
            backgroundColor: "silver",
          } as CSSStyleDeclaration;
        case 3:
          return {
            backgroundColor: "#cd7f32",
          } as CSSStyleDeclaration;
      }
      return {
        backgroundColor: "#e8e8e8",
      } as CSSStyleDeclaration;
    },
  },
  mounted: function () {
    if (this.$props.videoId == null) {
      return;
    }
    this.getVideoInfo(this.$props.videoId);
  },
});
</script>

<style scoped>
.panel {
  display: inline-block;
  padding: 10px;
  background-color: rgba(240, 240, 240);
  border-radius: 20px;
}

.panel:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
}

.rank {
  margin: 5px;
  color: black;
  border-radius: 20px;
}

.title {
  margin: 5px;
  color: black;
  height: 70px;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.thumbnail {
  border-radius: 20px;
  width: 100%;
}
</style>
